@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1320px;
  padding: 0 16px;
  margin: 0 auto;
}
